body {
  background-color: #FAF2DA;
}

.up {
  background-color: #F9E0AE;
}

div {
  margin: 0;
  padding-top: 5px;
}

body {
  margin: 0;
  text-align: center;
}

img {
  height: 250px;
  width: 250px;
}

hr {
  background-color: #682C0E;
  border: solid #682C0E 1px;
  width: 90%;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  color: #C24914;
  font-family: 'Island Moments', cursive;
  font-size: 80px;
}

h2 {
  font-family: 'Amatic SC', cursive;
  color: #FC8621;
  font-size: 1.8em;
}

h3 {
  font-family: 'Balsamiq Sans', cursive;
  color: #FC8621;
  font-size: 1.25em;
}

p {
  color: #682C0E;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 70px;
  margin-right: 70px;
}

/* immagini div top */
.cloud-top {
  height: 100px;
  width: 100px;
  margin-left: 300px;
}

.cloud-bottom {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 380px;
  bottom: 280px;
}

.LaVolpe {
  height: 310px;
  width: 320px;
  margin-bottom: 0;
}

/* stile div middle */
.middle {
  background-color: #FAF2DA;
}

.firma {
  color: #C24914;
  font-family: 'Island Moments', cursive;
  font-size: 60px;
}

.web {
  height: 200px;
  width: 200px;
  padding: 25px;
}

.webdiv {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: white;
  display: inline-block;
  padding-top: 0px;
}

.mobile{
  width: 200px;
  height: 200px;
  padding: 25px;
}

.mobilediv{
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: white;
  display: inline-block;
  padding-top: 0px;
}

/* stile div bottom */
.bottom {
  background-color: #FAF2DA;
}
.btn{
  text-decoration: none;
  color: #682C0E;
  font-size: 25px;
}
.button{
    background-color: white;
    border: 2px solid #682C0E;
    border-radius: 12px;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
